
{% extends 'base.html' %}
{% load static %}
{% block title %}Delete Department{% endblock %}
{% block content %}

<div class="container">
        <h2>Delete Department</h2>
        <p>Are you sure you want to delete the department "{{ department.name }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Delete</button>
            <a href="{% url 'department_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
</div>
{% endblock %}
