{% extends 'base.html' %}
{% load static %}
{% block title %}Department List{% endblock %}
{% block content %}

    <div class="container">
        <h2>Department List</h2>
        <table class="table table-striped">
               <tr>
                    <th>Name</th>
                    <th>Action</th>
                </tr>

                {% for department in departments %}
                <tr>
                    <td>{{ department.name }}</td>
                    <td>
                        <a href="{% url 'edit_department' department.id %}" class="btn btn-sm btn-primary">Edit</a>
                        <a href="{% url 'delete_department' department.id %}" class="btn btn-sm btn-danger">Delete</a>
                    </td>
                </tr>
                {% endfor %}
        </table>

        <a href="{% url 'create_department' %}" class="btn btn-primary">Add Department</a>
    </div>
{% endblock %}