{% extends 'base.html' %}
{% load static %}
{% block title %}User Login{% endblock %}
{% block content %}

    <div class="container">
        <h2>User Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="mb-3">
                <label for="u" class="form-label">Username</label>
                <input type="text" class="form-control" id="u" name="u" required>
            </div>

            <div class="mb-3">
                <label for="p" class="form-label">Password</label>
                <input type="password" class="form-control" id="p" name="p" required>
            </div>

            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>

{% endblock %}
